{% extends "base.html" %}
{% block title %}Последние обновления{% endblock %}
{% block header %}Последние обновления{% endblock %}

{% block content %}
    <h1>Последние опубликованные посты</h1>
    {% for post in page %}
    <h3>
        Автор: <a href="{% url 'profile' post.author.username %}">{{ post.author.username }}</a>, Дата публикации: {{ post.pub_date|date:"d M Y" }}
        {% if post.group %}
            Группа: {{ post.group.slug }}
        {% endif %}
    </h3>
    <p>{{ post.text|linebreaksbr }}</p>
    {% endfor %}
    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}
{% endblock %}