{% extends "base.html" %}
{% block title %} Просмотр поста {% endblock %}
{% block header %} Пост <a href="{% url 'profile' username %}"> {{ post.author.username }}</a> {% endblock %}
{% block content %}
{% load thumbnail %}
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
                {% include "post_item.html" with post=post %}
            {% if request.user.username == post.author.username %}
                <a class="btn btn-sm text-muted" href="{% url 'post_edit' user.username post.id %}">
                    Редактировать
                </a>
                <form action="{% url 'post_delete' user.username post.id %}" method="post">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-sm text-danger" value="Удалить">
                </form>
            {% endif %}
            {% include "comments.html" %}
        </div>
    </div>
{% endblock %}