{% extends "base.html" %}
{% block title %}{{ user.username }} {% endblock %}
{% block header %} Посты пользователя {{ user.get_full_name }} {% endblock %}
{% block content %}
    <main class="containter" role="main">
        <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                    <div class="card-body">
                        <div class="h2">
                            {{ user.get_full_name }}
                        </div>
                        <div class="h-6 text-muted">
                            {{ user.username }}
                        </div>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                Подписчиков: ---
                                Подписан: ---
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h-6 text-muted">
                                Записей: {{ user.posts.count }}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% for post in page %}
                <div class="card mb-3 mt-1 shadow-sm">
                    <div class="card-body">
                        <p class="card-text">
                            <a href="{% url 'post' post.author.username post.id %}" class="text-decoration-none text-reset">{{ post.text|linebreaksbr }}</a>
                        </p>
                        <div class="d-flex-justify-content-between align-items-center">
                            <div class="btn-group">
                                {% if request.user.username == user.username %}
                                    <a class="btn btn-sm text-muted" href="{% url 'post_edit' user.username post.id %}">
                                        Редактировать
                                    </a>
                                    <form action="{% url 'post_delete' user.username post.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-sm text-danger" value="Удалить">
                                    </form>
                                {% endif %}
                            </div>
                            <small class="text-muted">Дата публикации: {{ post.pub_date|date:"d M Y" }}</small>
                            {% if post.group %}
                                <small class="text-muted">Группа: <a href="{% url 'group' post.group.slug %}">{{ post.group.slug }}</a></small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator %}
            {% endif %}
        </div>
    </main>
{% endblock %}